* {
    margin: 0;
    padding: 0; 
}
form{
    border-top: 5px;
    background-color: black;
    border: dashed blueviolet 5px;
    padding: 50px;
    max-width: 200px;
    margin: 0 auto;

}
label{
    color: #fff;
    font-size: 18px;
}
 input[type="submit"]{
    background-color: blueviolet;
    color: #fff;
    margin-left: 80px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer; 
 }